.messages {
  flex: 4;
  display: flex;
  flex-direction: column;
}

/*----MESSAGE-HEADER----*/

.message-header-light {
  display: flex;
  background-color: #f3f3f3;
  color: black;
}
.message-header-dark {
  display: flex;
  background-color: #6a6a6a;
  color: white;
}
.user-header-light {
  flex: 4;
  cursor: pointer;
}
.user-header-dark {
  flex: 4;
  cursor: pointer;
}

.details-btn-light {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.details-btn-dark {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #6a6a6a;
}

/*----MESSAGE-LIST COMPONENT STYLE----*/

.message-list-light {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.message-list-dark {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #7a7a7a;
  color: white;
}

.left-side {
  flex: 1;
}
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: #68b7ff;
  color: white;
}
.user-message-light {
  background-color: #f3f3f3;
  padding: 10px;
  margin: 8px;
}
.user-message-dark {
  background-color: #515151;

  padding: 10px;
  margin: 8px;
  color: #fbfbfb;
}

/*---- MESSAGE-FORM COMPONENT STYLE----*/

.message-form-light {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.message-form-dark {
  display: flex;
  flex-direction: row;
  background-color: #7a7a7a;
}
.message-form-light input {
  flex: 1;
  background-color: #f3f3f3;
  margin: 10px;
  width: 555px;
  border: none;
  outline: none;
}
.message-form-dark input {
  flex: 1;
  background-color: #f3f3f3;
  margin: 10px;
  width: 555px;
  border: none;
  outline: none;
}
.message-form-light > button {
  margin: 10px;
  background-color: #68b7ff;
  color: white;
  padding: 16px 34px;
  border: none;
}
.message-form-dark > button {
  margin: 10px;
  background-color: #68b7ff;
  color: white;
  padding: 16px 34px;
  border: none;
}
